#nav1{
	
	font-size:22px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: space-around;
	
	background-color:orange;
	color:black;
}
body{
	margin:0px;

	overflow-x: hidden;
	background-color:#696e70;

	

}
a{
	text-decoration:none;
}
.v{
	
	text-align:center;
	font-size:22px;
	font-family:georgia;

}
footer{
	background-color:#696e70;
	
	margin-bottom: 0px;
	width:100%;
	height:200px;
	font-size:25px;
}
@media (max-height:500px){
	body{
		background-color:red;
	}

}